	/*----------------------- Main------------------ */
	.main{
		flex: 1 1 auto;
	}
	/* ------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------- */
._container {
	max-width: 1380px;
	padding: auto 15px;
	margin: 0px auto;
	box-sizing: content-box;
}

#html {
		margin: 0;
		padding: 0;
	}

	body {
		margin: 0!important;
	}


	@media screen and (max-width: 1491px){
			body {
				max-width: 1901px;
				min-width: 1461px;
			}

		#lang {
					position: relative;
					display: inline-flex;
					left: 75%;
					top: -7px;
			}

				#logOut {
						position: relative;
						display: inline-flex;
						left: 80%;
				}

	}



	#header {
		z-index: 999;
		width: 100%;
		flex-wrap: wrap;
		display: flex;
		top: 0;
		position: sticky;
		margin: 0;
		padding: 0;
		height: 130px;
		background-image: url(https://i.postimg.cc/tgNcZxXh/1646375923-1-abrakadabra-fun-p-oboi-s-khogvartsom-2-1.png);
		background-size: cover;
		object-fit: contain;

	}


	#menu {
		position: relative;
		display: inline-flex;
	width: 100%;
	height: 84px;
	left: -3%;
	top: 30%;
	}

	ul {
		display: inline-flex;
		list-style: none;
		margin: 0;

	}
	a {
		text-decoration: none;
		padding-left: 40px;
		font-family: 'Anton';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height */
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	}

	#lang {
		position: relative;
		display: inline-flex;
		left: 95%;
		top: -7px;
	}

	#logOut {
		position: relative;
		display: inline-flex;
		left: 95%;
	}

	#logo {
		position: relative;
		top: -20px;
	}

	a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none {
		margin-top: -1%;
	}


		
	/*----------------------- Main------------------ */
	.main{
		flex: 1 1 auto;
	} 
	/* ------------------------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------- */
._container {
	max-width: 1380px;
	padding: auto 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
	/* ---------Main-block---------------------------- */

		.main__main-block {
		}

.main-block {
	margin: 293px auto;
	width: 1304px;
height: 990px;
background: #D9D9D9;
border-radius: 50px;
}
.main-block__container{}
.main-block__body{
	padding-top: 43px;
	margin-left: 61px;
}
	.main-block__header {
		display: flex;


		}

		.main-block__list {
			margin-top: 35px;
			display: flex;
			flex-direction: column;

		}

		.main-block__button {
			position: absolute;
			margin-left: 700px;
			top: 500px;
			border: none;
    outline: none;
    background: none;
		}


		.header__image1 {
			width: 100px;
			height: 100px;
			position: relative;
			z-index: 2;
		}

		.header__title {
			margin-left: 350px;
			font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 98px;
text-align: center;

color: #000000
		}

		.header__image2 {
			margin-left: 254px;
			width: 100px;
			height: 100px;
		}

		#form {
			position: absolute;
			margin-left: 150px;
    top: 700px;
		}

	.list__item1 {
		}
		.form__input{
			border-radius: 30px;
			position: relative!important;
    width: 800px;
    height: 67px;
    margin: auto;
    border: 0;
    background: #4E4C4C;
    padding-left: 55px;
    font-weight: 700;
    font-size: 20px;
    line-height: 68px;
    display: flex;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
		}
	.list__item2{
	}

	textarea#fullText {
		position: relative!important;
		max-width: 800px;
		min-width: 800px;
		min-height: 267px;
		max-height: 300px;
	}

