<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homepage</title>
	<link rel="stylesheet" href="../static/css/style(addUser).css">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<header id="header" th:insert="bloks/header-adminPanel :: header"></header>
<body>
	<div class="wrapper">
		<main class="main">
			<section class="main__main-block main-block">
				<div class="main-block__container _container">
					<div class="main-block__body">
						<div class="main-block__header">
						<img src="https://i.postimg.cc/26fctJfL/icons8-100-1.png" alt="" class="header__image1">
				<div class="header__title">Add User</div>
							<img src="https://i.postimg.cc/hjbyRrSy/Vector.png" alt="" class="header__image2">
						</div>
							<form action="/admin/add-user" method="post">
									<input type="text" name="surname" placeholder="Username" class="form__input"><br>

									<input type="text" name="name" placeholder="Name" class="form__input"><br>

									<input type="text" name="group" placeholder="Group" class="form__input"><br>

									<input type="text" name="role" placeholder="Role" class="form__input"><br>

									<input type="text" name="pass" placeholder="Pass" class="form__input"><br>

								 	<button class="main-block__button" id="postButtonUser" type="submit"><img src="https://i.postimg.cc/dt0Wgrg6/btn-1.png" alt=""></button>

							 </form>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>
<footer th:insert="bloks/footer :: footer"></footer>
</html>