<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/adminPanel.css"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/static/css/footer.css">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<header id="header" th:insert="bloks/header-adminPanel :: header"></header>
<body id="body">
    <div id="container">
        <table class="iksweb">
            <thead>
                <tr>
                    <td>Surname</td>
                    <td>Name</td>
                    <td>Group(if teacher empty value)</td>
                    <td>Role</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${user}">
                    <td th:text="${p.surname}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.group}"></td>
                    <td th:text="${p.role}"></td>
                    <td><a href="#" class="link">Edit</a></td>
                    <td><a href="#" class="link">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<footer th:insert="bloks/footer :: footer"></footer>
</html>