<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homepage</title>
	<link rel="stylesheet" href="../static/css/style(FAQ).css">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<header th:insert="bloks/header-faq :: header"></header>
<body>
	<div class="wrapper">
		<main class="main">
			<section class="main__cource cource">
				<div class="cource__container _container">
					<div class="cource__body">
						<h3 class="cource__title">How we can help you?</h3>
						<div class="cource__column">
							<div class="cource__item item-cource">
								<div class="item-cource__item">
									<div class="item__text">Ask</div>
									<div class="item__icon">
										<img src="https://i.postimg.cc/TwV1Kv9T/icons8-2-30-1.png" alt="01">
									</div>
								</div>
								<div class="item-cource__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
									Vel id commodi, possimus et hic quisquam officia consequatur consectetur qui asperiores ab, minus, culpa vero necessitatibus? <br>
									Quasi quidem ipsa voluptatum nostrum!
								</div>
							</div>
							</div>
							<div class="cource__column">
								<div class="cource__item item-cource">
									<div class="item-cource__item">
										<div class="item__text">Ask1</div>
										<div class="item__icon">
											<img src="https://i.postimg.cc/9Xkz8bnP/icons8-30-1.png" alt="01">
										</div>
									</div>
								</div>
								</div>
								<div class="cource__column">
									<div class="cource__item item-cource">
										<div class="item-cource__item">
											<div class="item__text">Ask2</div>
											<div class="item__icon">
												<img src="https://i.postimg.cc/9Xkz8bnP/icons8-30-1.png" alt="01">
											</div>
										</div>
									</div>
									</div>
									<div class="cource__column">
										<div class="cource__item item-cource">
											<div class="item-cource__item">
												<div class="item__text">Ask3</div>
												<div class="item__icon">
													<img src="https://i.postimg.cc/9Xkz8bnP/icons8-30-1.png" alt="01">
												</div>
											</div>
										</div>
										</div>
										<div class="cource__column">
											<div class="cource__item item-cource">
												<div class="item-cource__item">
													<div class="item__text">Ask4</div>
													<div class="item__icon">
														<img src="https://i.postimg.cc/9Xkz8bnP/icons8-30-1.png" alt="01">
													</div>
												</div>
											</div>
											</div>
											<div class="cource__column">
												<div class="cource__item item-cource">
													<div class="item-cource__item">
														<div class="item__text">Ask5</div>
														<div class="item__icon">
															<img src="https://i.postimg.cc/9Xkz8bnP/icons8-30-1.png" alt="01">
														</div>
													</div>
												</div>
												</div>
						</div>
					</div>
			</section>
		</main>
		<footer th:insert="bloks/footer :: footer"></footer>
	</div>
</body>

</html>