<!DOCTYPE html>
<html lang="en" id="html">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/timetable.css">
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
	<link rel="stylesheet" href="/static/css/headmen.css">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

	<title>Headmen</title>
</head>
<header th:insert="bloks/header-kabinet :: header"></header>

<body id="body">
	<div id="container">
		<div id="profile">
			<img id="profileImg" src="https://i.postimg.cc/fTLjYgN2/free-icon-user-149071-1.png">
			<div id="profileText">
				<h1>Surname Name</h1>
				<h1>Your Group </h1>
			</div>
		</div>
		<div id="timeTable-img">

		</div>
	</div>
</body>
<footer th:insert="bloks/footer :: footer"></footer>

</html>