<div th:fragment="footer">
	<link rel="stylesheet" href="/static/css/footer.css">
<footer class="footer">
			<div class="footer__main _container">
				<div class="footer__body">
					<img src="https://i.postimg.cc/J7FvsHs4/hogwarts-removebg-preview-1.png" alt="footer__image" class="footer__image">
					<div class="footer__group">
						<div class="group__text">Made With Group1</div>
							<ul class="group__list">
								<li><a href="https://t.me/kzinews"><img src="https://i.postimg.cc/7hqzw3nD/free-icon-telegram-3670070.png" alt="tg" class="list__item tg" width="24px" height="24px"></a></li>
								<li><a href="https://www.instagram.com/collegeonat/?__coig_restricted=1"><img src="https://i.postimg.cc/PfKp18Mp/free-icon-instagram-2111463.png" alt="insta" class="list__item" width="24px" height="24px"></a></li>
								<li><a href="https://www.youtube.com/channel/UCpwlPlQrM05p60k4oVmyb_w"><img src="https://i.postimg.cc/hvGG2p0J/free-icon-youtube-4494485.png" alt="youtube" class="list__item" width="24px" height="24px"></a></li>
							</ul>
							</div>
					<div class="img-icon">
								<img src="https://i.postimg.cc/02htDCDZ/free-icon-phone-call-5415888.png" alt="tel" class="info" width="24px" height="24px">
								<img src="https://i.postimg.cc/brBm6xMy/map.png" alt="map" class="info" width="24px" height="24px">
								<img src="https://i.postimg.cc/MGSdrKsQ/gmail.png" alt="email" class="info" width="24px" height="24px">
									</div>
							<div class="footer__column">
								<div class="footer__label">Get In Touch</div>

								<div class="footer__contacts contacts-footer">
									<a href="tel:000000000"
										class="contacts-footer__item contacts-footer__item_phone">0000000000</a>
									<a href="" class="contacts-footer__item contacts-footer__item_map">Aleksandrovskii prospect,6</a>
									<a href="mailto:KziEducation@gmail.com"
										class="contacts-footer__item contacts-footer__item_email">KziEducation@gmail.com</a>
								</div>
							</div>
					</div>
				</div>
		</footer>
</div>